<div class="container">
  <div class="h2"> Advanced Search</div>
  <form [formGroup]="advancedSearchForm" (ngSubmit)="onFormSubmit(advancedSearchForm.value)">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              Provider
            </div>
            <mat-form-field>
              <mat-select placeholder="Gender" formControlName="gender" multiple>
                <mat-option *ngFor="let option of genders" [value]="option.value">
                  {{ option.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Language" formControlName="formLanguage" multiple>
                <mat-option *ngFor="let language of languages" [value]="language.id">
                  {{ language.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <mat-checkbox [ngModel]="acceptingNewPatients" formControlName="acceptingNewPatients">Accepting New Patients</mat-checkbox>
              <mat-checkbox formControlName="badgercareIndicator">Badgercare</mat-checkbox>
              <mat-checkbox formControlName="cspIndicator"> CSP</mat-checkbox>
              <mat-checkbox formControlName="prescribingProvider">Prescriber</mat-checkbox>
              <mat-checkbox formControlName="medicareIndicator">Medicare</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              Behavioral Health Characteritics
            </div>
            <mat-form-field>
              <mat-select placeholder="Ages" [ngModel]="agesDefault" formControlName="age" multiple>
                <mat-option *ngFor="let age of ages" [value]="age.setID">
                  {{ age.textValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Modes" formControlName="mode" multiple>
                <mat-option *ngFor="let mode of modes" [value]="mode.setID">
                  {{ mode.textValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Conditions" formControlName="condition" multiple>
                <mat-option *ngFor="let option of conditions" [value]="option.setID">
                  {{ option.textValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Therapuetic Approaches/Treatments" formControlName="theraApproach" multiple>
                <mat-option *ngFor="let option of therapeuticApproaches" [value]="option.setID">
                  {{ option.textValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Other" formControlName="other" multiple>
                <mat-option *ngFor="let other of otherList" [value]="other.setID">
                  {{ other.textValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              Clinic
            </div>
            <div class="full-width">

          
            <mat-form-field>
              <mat-select placeholder="Clinic Name" formControlName="facilityID" multiple>
                <mat-option *ngFor="let facility of facilityList" [value]="facility.id">
                  {{ facility.facilityName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <!--<mat-form-field>
              <input matInput placeholder="Region" formControlName="region">
            </mat-form-field>-->
            <mat-form-field>
              <mat-select placeholder="Region" formControlName="region">
                <mat-option *ngFor="let region of regionList" [value]="region.viewValue">
                  {{ region.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container top-buffer">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-secondary" (click)="clearDataSource();advancedSearchForm.reset()">Clear Form</button>
      <button mat-raised-button color="accent">Search</button>
    </div>
  </div>
</div>
  </form>
<div>
  <i class="fa fa-spinner fa-2x" aria-hidden="true" *ngIf="loading"></i>
</div>
<div class="text-danger" *ngIf="message">
  {{message}}
</div>
<div class="row">
  <br />
</div>
<div class="mat-elevation-z8">
  <h5 style="margin-left:10px">Provider - Clinic Relationship</h5>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> Provider Name/Credentials </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipRoute(facilityProviderRelationships)"> {{facilityProviderRelationships.provider.fullName}} - {{facilityProviderRelationships.provider.credentials}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="facilityName">
      <mat-header-cell *matHeaderCellDef> Clinic Name </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)"> {{facilityProviderRelationships.facility.facilityName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="facilityAddress">
      <mat-header-cell *matHeaderCellDef> Clinic Address/City </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
        {{facilityProviderRelationships.facility.facilityAddress.addressLine1}} {{facilityProviderRelationships.facility.facilityAddress.addressLine2}} -
        {{facilityProviderRelationships.facility.facilityAddress.city}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="facilityPhoneNumber">
      <mat-header-cell *matHeaderCellDef> Clinic Phone Number </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
        {{facilityProviderRelationships.facility.facilityAddress.phoneNumber}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="conditions">
      <mat-header-cell *matHeaderCellDef> Conditions </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
        <ul>
          <li *ngFor="let conditions of facilityProviderRelationships.providerConditionsList">
            {{conditions}}
          </li>
        </ul>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="therapeuticApproaches">
      <mat-header-cell *matHeaderCellDef> Therapeutic Approaches </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
        <ul>
          <li *ngFor="let therapeuticApproaches of facilityProviderRelationships.therapeuticApproachesList">
            {{therapeuticApproaches}}
          </li>
        </ul>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20, 50]">
  </mat-paginator>
</div>
</div>
