<div id="facility-wrapper">
  <div class="left-sidebar">
    <h2>Facility</h2>
    <ul id="facility-nav">
      <li tab-id="Demographics" tab-url="Demographics" [class.selected]="nav=='Demographics'">Demographics</li>
      <li tab-id="Vendor" tab-url="Vendor" [class.selected]="nav=='Vendor'">Vendor</li>
      <li tab-id="Providers" tab-url="Providers" [class.selected]="nav=='Providers'">Providers</li>
      <li tab-id="Specialties" tab-url="Specialties" [class.selected]="nav=='Specialties'">Specialties</li>
      <li tab-id="ProviderSpecialtyMapping" tab-url="Employment" [class.selected]="nav=='ProviderSpecialtyMapping'">Provider-Specialty Mapping</li>
      <li tab-id="Networks" tab-url="Networks" [class.selected]="nav=='Networks'">Networks</li>
    </ul>
  </div>
  <div class="facility-display">
    <h2 class="one turq">{{Facility.FacilityName}}</h2>
    <table id="facility-demo">
      <tr>
        <td>Facility Type</td>
        <td>{{FacilityAddress.AddressTypeName}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>NPI</td>
        <td>{{Facility.NPI}}</td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <hr />
    <div id="demo-card" class="card" [hidden]="nav!='Demographics'">
      <div class="card-body">
        <h5 class="card-title turq">Demographics</h5>
        <table id="demoTable">
          <tr>
            <td>Address</td>
            <td>
              {{FacilityAddress.AddressLine1}}&nbsp;&nbsp;{{FacilityAddress.AddressLine2}}<br />
              {{FacilityAddress.City}},&nbsp;{{FacilityAddress.State}}&nbsp;&nbsp;{{FacilityAddress.ZipCode}}
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{FacilityAddress.PhoneNumber | nullable}} <span *ngIf="!FacilityAddress.HidePhoneExtension">ext. {{FacilityAddress.PhoneExtension}}</span></td>
          </tr>
          <tr>
            <td>Fax</td>
            <td>{{FacilityAddress.FaxNumber | nullable}}</td>
          </tr>
          <tr *ngIf="!FacilityAddress.HideAlternatePhoneNumber">
            <td>Alt. Phone</td>
            <td>{{FacilityAddress.AlternatePhoneNumber}}</td>
          </tr>
          <tr>
            <td>Website</td>
            <td><a target="_blank" href="{{FacilityAddress.Website | nullable:''}}">{{FacilityAddress.Website | nullable:''}}</a></td>
          </tr>
          <tr>
            <td>Hours</td>
            <td>Coming Soon</td><!--Facility.Hours.DisplayValues-->
          </tr>
          <tr class="footer">
            <td>Last Updated By: {{Facility.LastUpdatedBy}}</td>
            <td>Last Updated On: {{Facility.LastUpdatedDate}}</td><!--:'MMM d, y h:mm a'-->
          </tr>
        </table>
        <table id="vendorTable" [hidden]="nav!='Vendor'">
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="demo-card" class="card" [hidden]="nav!='Specialties'">
      <div class="card-body">
        <h5 class="card-title turq">Specialties</h5>
        <div id="specList" class="card-text ui-sortable">
          <!--EACH SPECIALTY-->
          <div *ngFor="let s of Facility.FacilitySpecialties" class="card specCard ui-sortable-handle" style="position: relative; left: 0px; top: 0px;">
            <span [hidden]="true">spec-id:{{s.ID}}, seq-num:{{s.SequenceNumber}}</span>
            <div class="card-body specCardBody">
              <h5 class="card-title specTitle blu" (click)="onSpecClick($event)">{{s.Name}} <br /><span>{{s | specialtyType}} | {{s | parentSpecialty}}</span></h5>
              <table class="card-text specTable">
                <tbody>
                  <tr>
                    <td colspan="2">
                      ACTIVE
                    </td>
                  </tr>
                  <tr class="whenExpand">
                    <td colspan="2">Effective Dates: {{s.EffectiveDate | date}} - {{s.TerminationDate | date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer provSpecFooter">
              <span>Last Updated By: {{s.LastUpdatedBy}}</span><br /><span>Last Updated On: {{s.LastUpdatedDate | date}}</span>
            </div>
          </div>
          <!--END FOR EACH SPECIALTY-->
        </div>
      </div>
    </div>
    <div id="demo-card" class="card" [hidden]="nav!='Providers'">
      <div class="card-body">
        <h5 class="card-title turq">Providers</h5>
        <table id="providersTableDT" [hidden]="nav!='Providers'" class="table table-striped table-bordered" cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <th>NPI</th>
              <th>Last</th>
              <th>First</th>
              <th>Credential</th>
              <th>Gender</th>
              <th>Primary Specialty</th>
              <th>Vendor</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <table id="psmTable" [hidden]="nav!='ProviderSpecialtyMapping'">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table id="networksTable" [hidden]="nav!='Networks'">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
    </div>
