<div id="facility-wrapper">
  <div class="left-sidebar">
    <ul id="facility-nav">
      <li tab-id="Demographics" tab-url="Demographics" [class.selected]="nav=='Demographics'">Demographics</li>
      <li tab-id="Vendor" tab-url="Vendor" [class.selected]="nav=='Vendor'">Vendor</li>
      <li tab-id="Providers" tab-url="Providers" [class.selected]="nav=='Providers'">Providers</li>
      <li tab-id="Specialties" tab-url="Specialties" [class.selected]="nav=='Specialties'">Specialties</li>
      <li tab-id="ProviderSpecialtyMapping" tab-url="Employment" [class.selected]="nav=='ProviderSpecialtyMapping'">Provider-Specialty Mapping</li>
      <li tab-id="Networks" tab-url="Networks" [class.selected]="nav=='Networks'">Networks</li>
    </ul>
  </div>
  <div class="facility-display">
    <table>
      <tr>
        <td>Facility Name</td>
        <td>{{Facility.FacilityName}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>NPI</td>
        <td>{{Facility.NPI}}</td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <hr />
    <table id="demoTable" [hidden]="nav!='Demographics'">
      <tr>
        <td>Address</td>
        <td>
          {{FacilityAddress.AddressLine1}}&nbsp;&nbsp;{{FacilityAddress.AddressLine2}}<br />
          {{FacilityAddress.City}},&nbsp;{{FacilityAddress.State}}&nbsp;&nbsp;{{FacilityAddress.ZipCode}}
        </td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{FacilityAddress.PhoneNumber | nullable}}</td>
      </tr>
      <tr>
        <td>Website</td>
        <td><a target="_blank" href="{{FacilityAddress.Website | nullable:''}}">{{FacilityAddress.Website | nullable:''}}</a></td>
      </tr>
      <tr>
        <td>Hours</td>
        <td>Coming Soon</td><!--Facility.Hours.DisplayValues-->
      </tr>
    </table>
    <table id="vendorTable" [hidden]="nav!='Vendor'">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table id="specTable" [hidden]="nav!='Specialties'">
      <tbody *ngFor="let s of Facility.FacilitySpecialties">
        <tr>
          <td class="rowHeader" colspan="4">{{s.Name}}</td>
        </tr>
        <tr>
          <td>{{s | parentSpecialty}}</td>
          <td style="width:10px"></td><!--make a setting/css style-->
          <td>Effective Date</td>
          <td>{{s.EffectiveDate | date}}<!-- - {{s.TerminationDate | date}}--></td>
        </tr>
        <tr>
          <td>{{s | specialtyType}}</td>
          <td></td>
          <td><!--I dont see any other specialty info, so no expand UI for now--></td>
          <td><!--span class="expand"><i class="arrow down"></i></span--></td>
        </tr>
      </tbody>
    </table>
    <table id="providersTable" [hidden]="nav!='Providers'">
      <tbody *ngFor="let p of Facility.FacilityProviders">
        <tr>
          <td>First Name</td>
          <td><a href="../provider/{{p.ID}}">{{p.FirstName}}</a></td>
          <td>NPI</td>
          <td>{{p.NPI}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><a href="../provider/{{p.ID}}">{{p.LastName}}</a></td>
          <td>EpicProviderID</td>
          <td>{{p.EpicProviderID}}</td>
        </tr>
        <tr style="border-bottom:2px solid #111;">
          <td>Credentials</td>
          <td>{{p.Credentials}}</td>
          <td>Gender</td>
          <td>{{p.Gender | gender}}</td>
        </tr>
      </tbody>
    </table>
    <table id="psmTable" [hidden]="nav!='ProviderSpecialtyMapping'">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table id="networksTable" [hidden]="nav!='Networks'">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
