<div id="nav-bar">
  <a href="/" class="navbar-brand navbar-left">{{title}}</a>

  <span class="navbar-left menu-links">
    <span class="dropdown folderTab" [class.folderTabSelected]="selectedTab=='P'">
      <a [class.tabselected]="selectedTab=='P'" (click)="nav('/Provider/Search','P')">Provider</a>
      <span class="dropdown-content">
        <a href="/Provider/Demographics/0">Create Provider</a>
      </span>
    </span>
    <span class="dropdown folderTab" [class.folderTabSelected]="selectedTab=='F'">
      <a [class.tabselected]="selectedTab=='F'" (click)="nav('/Facility/Search','F')">Facility</a>
      <span class="dropdown-content">
        <a href="/Facility/Demographics/0">Create Facility</a>
      </span>
    </span>
    <span class="dropdown folderTab" [class.folderTabSelected]="selectedTab=='V'">
      <a [class.tabselected]="selectedTab=='V'" (click)="nav('/Vendor/Search','V')">Vendor</a>
      <span class="dropdown-content">
        <a href="/Vendor/Addresses/0">Create Vendor</a>
      </span>
    </span>

  </span>
  <span class="navbar-right">{{username}}</span>
  <!--
  <button type="submit" id="header-advanced-search-button"><i class="fa fa-search"></i></button>
  <span class="navbar-right" id="header-advanced-search-wrapper">
    <input id="header-advanced-search" type="search" class="form-control form-control-sm" placeholder="Search All (Provider, Facility, Vendor)" />
  </span>
  -->
</div>
<div id="outer-wrapper" [class.outer-wrapper-cD]="compactDesign">
  <div id="title-wrapper" [class.invisible]="compactDesign">
    <h1 id="page-title">
      Welcome to {{ title }}!
    </h1>
  </div>
  <hr [class.invisible]="compactDesign" />
  <router-outlet></router-outlet>
</div>
