<div id="nav-bar">
  <a href="/" class="navbar-brand navbar-left">{{title}}</a>
  <span class="navbar-left menu-links">
    <a [class.tabselected]="selectedTab=='P'" (click)="nav('/Provider/Search','P')">Provider</a>
    <a [class.tabselected]="selectedTab=='F'" (click)="nav('/Facility/Search','F')">Facility</a>
    <a>Vendor</a>
  </span>
  <span class="navbar-right">spillai</span>
  <button type="submit" id="header-advanced-search-button"><i class="fa fa-search"></i></button>
  <span class="navbar-right" id="header-advanced-search-wrapper">
    <input id="header-advanced-search" type="search" class="form-control form-control-sm" placeholder="Search All (Provider, Facility, Vendor)" />
  </span>
</div>
<div id="outer-wrapper" [class.outer-wrapper-cD]="compactDesign">
  <div id="title-wrapper" [class.invisible]="compactDesign">
    <h1 id="page-title">
      Welcome to {{ title }}!
    </h1>
  </div>
  <hr [class.invisible]="compactDesign" />
  <router-outlet></router-outlet>
</div>
