<h1 mat-dialog-title>Edit Behaverial Types</h1>
<mat-dialog-content>
  <form [formGroup]="bhaSpecialties" (ngSubmit)="onFormSubmit(bhaSpecialties.value)">
    <!--<mat-form-field>
    <input matInput placeholder="Conditions" name="Conditions">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="TherapeuticApproaches" name="TherapeuticApproaches">
  </mat-form-field>-->
    <!--<ul>
      Conditions
      <li *ngFor="let option of conditionsCopy">
        {{option.textValue}}
      </li>
    </ul>
    <ul>
      Conditions
      <li *ngFor="let option of ages">
        {{option.textValue}}
      </li>
    </ul>-->
    <mat-form-field>
      <mat-select placeholder="Conditions List" formControlName="condition" multiple>
        <mat-option *ngFor="let option of conditions" [value]="option.setID">
          {{ option.textValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="container">
      <div class="row">
        <!--<div class="col">
          <button type="button" class="btn btn-info" (click)="bhaSpecialties.reset()">Clear Form</button>

        </div>-->
        <div class="col">
          <button mat-raised-button color="accent">Save</button>
        </div>
      </div>
    </div>
  </form>

</mat-dialog-content>
