<h1 mat-dialog-title>Edit Behavoiral Types</h1>
<mat-dialog-content>
  <form [formGroup]="bhaSpecialties" (ngSubmit)="onFormSubmit(bhaSpecialties.value)">
    <mat-form-field>
      <mat-select placeholder="Ages" formControlName="ages" multiple>
        <mat-option *ngFor="let option of ages" [value]="option.setID">
          {{ option.textValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--<mat-form-field>-->
    <mat-form-field>
      <mat-select placeholder="Therapeautic Approaches" formControlName="theraApproaches" multiple>
        <mat-option *ngFor="let option of therapeuticApproaches" [value]="option.setID">
          {{ option.textValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Conditions" formControlName="conditions" multiple>
        <mat-option *ngFor="let option of conditions" [value]="option.setID">
          {{ option.textValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Modes" formControlName="modes" multiple>
        <mat-option *ngFor="let option of modes" [value]="option.setID">
          {{ option.textValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Others" formControlName="others" multiple>
        <mat-option *ngFor="let option of others" [value]="option.setID">
          {{ option.textValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="container">
      <div class="row">
        <!--<div class="col">
        <button type="button" class="btn btn-info" (click)="bhaSpecialties.reset()">Clear Form</button>
      </div>-->
        <div class="col">
          <button mat-raised-button color="accent">Save</button>
        </div>
      </div>
    </div>
  </form>

</mat-dialog-content>
