<!DOCTYPE html>
<html>
<head>
    <title>map-provider-to-facility-component</title>
</head>
<body>
  {{clinicList}}
  <!--<mat-form-field fxFlex="33" class="mr-20 mt-20">
    <input matInput placeholder="Facility" aria-label="Facility" [matAutocomplete]="auto" [formControl]="facilityName">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let facility of clinicList" [value]="facility.facilityName">
        <span>{{ facility.facilityName }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>-->

    <!--<mat-form-field>
      <input matInput [matAutocomplete]="auto" [formControl]="myControl">
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let clinicList of filteredOptions | async"
                    [value]="clinicList.facilityName">
          <span>{{ facilityList.facilityName }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>-->


</body>
</html>
