<div id="provider-wrapper">
  <div class="left-sidebar">
    <h2>Provider</h2>
    <ul id="provider-nav">
      <li tab-id="Networks" tab-url="Network" [hidden]="providerId==0" [class.selected]="nav=='Networks'">Networks</li>
      <li tab-id="Employments" tab-url="Employment" [hidden]="providerId==0" [class.selected]="nav=='Employment'">Employments</li>
      <li tab-id="Demographics" tab-url="Demographics" [class.selected]="nav=='Demographics'">Demographics</li>
      <li tab-id="Specialties" tab-url="Specialties" [hidden]="providerId==0" [class.selected]="nav=='Specialties'">Specialties</li>
      <li tab-id="Facility" tab-url="Facility" [hidden]="providerId==0" [class.selected]="nav=='Facility'">Facilities</li>
    </ul>
  </div>
  <div class="provider-display main-display">
    <h2 id="provider-main-header" class="one red">
      {{Provider.FirstName}} {{Provider.LastName}}<span [hidden]="Provider.Credentials==''">, {{Provider.Credentials}}</span>
      <span [hidden]="providerId!=0">Edit and then Save to Create a New Provider!</span>
      <span [hidden]="!(environment.authUser.isEditor=='True'||environment.authUser.isSuperUser=='True')"><i class="fa fa-edit is-editor not-editing"></i><i class="fa fa-save is-editor is-editing"></i><i class="fa fa-times is-editor is-editing"></i></span>
    </h2>
    <table id="provider-demo">
      <tr>
        <td>First Name</td>
        <td><span class="not-editing">{{Provider.FirstName}}</span><span class="is-editing"><input type="text" id="edit_Provider_FirstName" value="{{Provider.FirstName}}" /></span></td>
        <td>NPI</td>
        <td><span class="not-editing">{{Provider.NPI}}</span><span class="is-editing"><input type="text" id="edit_Provider_NPI" value="{{Provider.NPI}}" /></span></td>
      </tr>
      <tr>
        <td>Middle Name</td>
        <td><span class="not-editing">{{Provider.MiddleName}}</span><span class="is-editing"><input type="text" id="edit_Provider_MiddleName" value="{{Provider.MiddleName}}" /></span></td>

        <td>Epic Provider ID</td>
        <td><span class="not-editing">{{Provider.EpicProviderID}}</span><span class="is-editing"><input type="text" id="edit_Provider_EpicProviderID" value="{{Provider.EpicProviderID}}" /></span></td>

      </tr>
      <tr>
        <td>Last Name</td>
        <td><span class="not-editing">{{Provider.LastName}}</span><span class="is-editing"><input type="text" id="edit_Provider_LastName" value="{{Provider.LastName}}" /></span></td>
        <td>Gender</td>
        <td>
          <span class="not-editing">{{Provider.Gender | gender}}</span><span class="is-editing">
            <!--EDIT GENDER CONTROL: normal select tag, Male/Female/Unknown-->
            <select id="edit_Provider_Gender" value="{{Provider.Gender}}">
              <option value=1>Female</option>
              <option value=2>Male</option>
              <option value=3>Unknown</option>
            </select>
          </span>
        </td>
      </tr>
      <tr>
        <td>Credentials</td>
        <td>
          <span class="not-editing">{{Provider.Credentials}}</span><span class="is-editing">
            <!--EDIT CREDENTIALS CONTROL: selectize, tag-based autocomplete select box: cred abbreviations + description-->
            <select id="edit_Provider_Credentials" multiple="multiple" class="toSelectize">
              <option value="202">MD</option>
              <option value="128">DO</option>
              <option value="242">PhD</option>
            </select>
          </span>
        </td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><!--this will be a new standalone comma separated field like languages--></td>
        <td><!--and coming from a join, instead of an additional SP--></td>
      </tr>
    </table>
    <hr />
    <div id="demo-card" class="card" [hidden]="nav!='Demographics' || providerId==0">
      <div class="card-body">
        <h5 class="card-title red">
          Demographics
          <span [hidden]="!(environment.authUser.isEditor=='True'||environment.authUser.isSuperUser=='True')">
            <i class="fa fa-edit is-editor not-editing"></i><i class="fa fa-save is-editor is-editing"></i><i class="fa fa-times is-editor is-editing"></i>
          </span>
        </h5>
        <table id="demoTable">
          <tr>
            <td>Languages</td>
            <td colspan="3">
              <span class="not-editing">{{Provider.Languages}}</span><span class="is-editing">
                <!--EDIT LANGUAGE CONTROL: selectize, tag-based autocomplete select box: language names-->
                <select id="edit_ProviderDemo_Language" multiple="multiple" class="toSelectize">
                  <option value="English">English</option>
                  <option value="Spanish">Spanish</option>
                  <option value="Gujarati">Gujarati</option>
                </select>
              </span>
            </td>
          </tr>
          <tr>
            <td>Accepts Medicare?</td>
            <td [attr.colspan]="!Provider.MedicareIndicator?3:1">
              <span class="not-editing">{{Provider.MedicareIndicator | bool}}</span><span class="is-editing">
                <!--BOOL CONTROL: Yes/No/Unknown-->
                <select id="edit_ProviderDemo_MedicareIndicator" (change)="toggleFields()" class="is-editing" value="{{Provider.MedicareIndicator | bool}}">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">Unknown</option>
                </select>
              </span>
            </td>
            <td [hidden]="!Provider.MedicareIndicator">Medicare PTAN</td>
            <td [hidden]="!Provider.MedicareIndicator"><span class="not-editing">{{Provider.MedicarePTAN | nullable}}</span><span class="is-editing"><input type="text" id="edit_ProviderDemo_MedicarePTAN" value="{{Provider.MedicarePTAN | nullable}}" /></span></td>
          </tr>
          <tr [hidden]="!Provider.MedicareIndicator">
            <td>Medicare Effective Date</td>
            <td><span class="not-editing">{{Provider.MedicareEffectiveDate | date}}</span><span class="is-editing"><input type="text" class="datepicker" id="edit_ProviderDemo_MedicareEffectiveDate" value="{{Provider.MedicareEffectiveDate | date}}" /></span></td>
            <td style="padding-left:20px;">Medicare Termination Date</td>
            <td><span class="not-editing">{{Provider.MedicareTerminationDate | date}}</span><span class="is-editing"><input type="text" class="datepicker" id="edit_ProviderDemo_MedicareTerminationDate" value="{{Provider.MedicareTerminationDate | date}}" /></span></td>
          </tr>
          <tr [class.whiteTR]="!Provider.MedicareIndicator">
            <td>Accepts Medicaid?</td>
            <td>
              <span class="not-editing">{{Provider.MedicaidIndicator | bool}}</span><span class="is-editing">
                <!--BOOL CONTROL: Yes/No/Unknown-->
                <select id="edit_ProviderDemo_MedicaidIndicator" (change)="toggleFields2()" class="is-editing" value="{{Provider.MedicaidIndicator | bool}}">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">Unknown</option>
                </select>
              </span>
            </td>
            <td [hidden]="!Provider.MedicaidIndicator">Medicaid Provider ID</td>
            <td [hidden]="!Provider.MedicaidIndicator"><span class="not-editing">{{Provider.MedicaidProviderID | nullable}}</span><span class="is-editing"><input type="text" id="edit_ProviderDemo_MedicaidProviderID" value="{{Provider.MedicaidProviderID | nullable}}" /></span></td>
          </tr>
          <tr [class.greyTR]="!Provider.MedicareIndicator">
            <td>Hospital Affiliations</td>
            <td>{{Provider.HospitalAffiliations | nullable:"-"}}</td><!--TODO: implement editing/saving once pulling real data for this field!-->
            <td></td>
            <td></td>
          </tr>
          <tr class="footer">
            <td colspan="2">Last Updated By: {{Provider.LastUpdatedBy}}</td><!--updated on edit+save, so no need to toggle when editing/saving, BUT need to pull values (by+on) post-save-->
            <td></td>
            <td>Last Updated On: {{Provider.LastUpdatedDate | date}}</td><!--:'MMM d, y h:mm a'-->
          </tr>
        </table>
        <!--OPTIONAL EXPAND FUNCTION a href="#" class="btn btn-primary">Expand?</a-->
      </div>
    </div>
    <div id="spec-card" class="card specWrapper" [hidden]="nav!='Specialties'">
      <div class="card-body">
        <h5 class="card-title red">
          Specialties <span [hidden]="!(environment.authUser.isEditor=='True'||environment.authUser.isSuperUser=='True')">
          <i class="fa fa-plus" [hidden]="specsEdited" id="addSpec"></i>
          <i class="fa fa-save" [hidden]="!specsEdited" id="saveSpecs"></i><i class="fa fa-times" [hidden]="!specsEdited" id="resetSpecs"></i></span>
        </h5>
        <div id="specList" class="card-text ui-sortable">
          <h4 id="addSpecArea">
            <span id="addSpecBody" style="display:none;">
              <span style="display:block;">Add Specialty:</span>
              <select id="add_Provider_Specialty" class="toSelectize">
                <option value=10>Family Medicine</option>
                <option value=1>Dermatology</option>
                <option value=3>Chiropractic</option>
              </select>
              <input id="addSpecBtn" type="button" value="Add" (click)="addSpecToList($event)" />
            </span>
            <br /><input type="checkbox" (change)="toggleInactiveSpecialties()" /> Show Inactive Specialties
          </h4>
          <!--EACH SPECIALTY-->
          <div *ngFor="let s of Provider.ProviderSpecialties" class="card specCard indivSpecWrapper ui-sortable-handle status_{{s.Status}}" id="specWrapper_{{s.ID}}" style="position: relative; left: 0px; top: 0px;">
            <span [hidden]="true">spec-id:{{s.ID}}, seq-num:{{s.SequenceNumber}}</span>
            <div class="card-body specCardBody">
              <h5 class="card-title specTitle blu" (click)="onSpecClick($event)">
                {{s.Name}}
                <!-- EDIT/SAVE/CANCEL for individual SPEC HERE, trigger #specWrapper_{{s.ID}} .not-editing / .is-editing -->
                <span [hidden]="!(environment.authUser.isEditor=='True'||environment.authUser.isSuperUser=='True')">
                  <i (click)="editProvider(2,$event,s.ID,s.MappingID)" class="fa fa-edit is-editor not-editing"></i>
                  <i (click)="saveProvider(2,$event,s.ID,s.MappingID)" class="fa fa-save is-editor is-editing" style="display:none;"></i>
                  <i (click)="cancelEdit(2,$event,s.ID,s.MappingID)" class="fa fa-times is-editor is-editing" style="display:none;"></i>
                </span>
                <br />
                <span>{{s | specialtyType}} | {{s | parentSpecialty}}</span>
              </h5>
              <table id="specialtyTable_{{s.ID}}" class="card-text specTable specialtyTable">
                <tbody>
                  <tr>
                    <td>Specialty Status</td>
                    <td>{{s | specStatus}}</td>
                  </tr>
                  <tr class="whenExpand">
                    <td>Effective Dates</td>
                    <td>
                      <span class="not-editing">{{s.EffectiveDate | date}}</span>
                      <span class="is-editing" style="display:none;">
                        <input type="text" ph-initialized="false" class="datepicker" id="edit_ProviderSpec{{s.ID}}_EffectiveDate" value="{{s.EffectiveDate | date}}" />
                      </span>
                      - <!-- To save memory and not initialize every Specialties' DatePicker, init when corresponding edit button clicked for a given Spec only, then set ph-initialized to 'true' to avoid double-init -->
                      <span class="not-editing">{{s.TerminationDate | date}}</span>
                      <span class="is-editing" style="display:none;"><input type="text" ph-initialized="false" class="datepicker" id="edit_ProviderSpec{{s.ID}}_TerminationDate" value="{{s.TerminationDate | date}}" /></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer provSpecFooter" id="specFooter_{{s.ID}}">
              <span>Last Updated By: {{s.LastUpdatedBy}}</span><br /><span>Last Updated On: {{s.LastUpdatedDate | date}}</span>
            </div>
          </div>
          <!--END FOR EACH SPECIALTY-->
        </div>
      </div>
    </div>
    <table id="facSpecMapTable" [hidden]="nav!='FacSpecMap'"></table>
    <div id="spec-card" class="card specWrapper" [hidden]="nav!='Facility'">
      <div class="card-body">
        <h5 class="card-title red">
          Facilities <span [hidden]="!(environment.authUser.isEditor=='True'||environment.authUser.isSuperUser=='True')"><i class="fa fa-plus" [hidden]="facsEdited" id="addFac"></i>
          <i class="fa fa-save" [hidden]="!facsEdited" id="saveFacs" style="margin-left: 10px;"></i><i class="fa fa-times" [hidden]="!facsEdited" id="resetFacs" style="margin-left: 10px;"></i></span>
        </h5>
        <span id="inactive-prov-fac-rel-cb"><input type="checkbox" (change)="toggleInactiveProvFacRel()" /> Show Inactive Facilities</span>
        <div id="facList" class="card-text ui-sortable">
          <h4 id="addFacArea">
            <span id="addFacBody" style="display:none;">
              <span style="display:block;">Add Facility:</span>
              <select id="add_Provider_Facility" class="toSelectize">
                <option value=0>Loading Facilities...</option>
                <option value=19>GHC-SCW Sauk Trails Clinic</option>
              </select>
              <input id="addFacBtn" type="button" value="Add" (click)="addFacToList($event)" />
            </span>
          </h4>
          <!--EACH FACILITY-->
          <div *ngFor="let f of Provider.ProviderFacilities" class="card specCard indivFacWrapper ui-sortable-handle fac_status_{{f.FPRelationship.status}}" id="facWrapper_{{f.ID}}" style="position: relative; left: 0px; top: 0px;width:100%;">
            <span [hidden]="true">spec-id:{{f.ID}}</span>
            <div class="card-body specCardBody">
              <h5 class="card-title specTitle blu provFacTitle" (click)="onSpecClick($event)"><a href="../facility/{{f.ID}}" style="color:#fff;">{{f.FacilityName}}</a></h5>
              <table id="facTable" class="card-text specTable">
                <!-- basically Facility Demographics (Facility + FacilityAddress)-->
                <tbody>
                  <tr>
                    <td>Address Type</td>
                    <td>{{f.FacilityAddress.AddressTypeName}}</td><!-- class="rowHeader" id="rH" colspan="4"-->
                  </tr>
                  <tr>
                    <td>NPI</td>
                    <td>{{f.NPI}}</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>
                      {{f.FacilityAddress.AddressLine1}}&nbsp;&nbsp;{{f.FacilityAddress.AddressLine2}}<br />
                      {{f.FacilityAddress.City}},&nbsp;{{f.FacilityAddress.State}}&nbsp;&nbsp;{{f.FacilityAddress.ZipCode}}
                    </td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>{{f.FacilityAddress.PhoneNumber | nullable}} <span *ngIf="!f.FacilityAddress.HidePhoneExtension">ext. {{f.FacilityAddress.PhoneExtension}}</span></td>
                  </tr>
                  <tr>
                    <td>Fax</td>
                    <td>{{f.FacilityAddress.FaxNumber | nullable}}</td>
                  </tr>
                  <tr *ngIf="!f.FacilityAddress.HideAlternatePhoneNumber">
                    <td>Alt. Phone</td>
                    <td>{{f.FacilityAddress.AlternatePhoneNumber}}</td>
                  </tr>
                  <tr>
                    <td>Website</td>
                    <td><a href="{{f.FacilityAddress.Website | nullable:''}}" target="_blank">{{f.FacilityAddress.Website | nullable:''}}</a></td>
                  </tr>
                  <!--
                  <tr>
                    <td>Hours</td>
                    <td>Coming Soon</td>
                  </tr>
                  -->
                  <tr>
                    <td colspan="4" id="row0FP_{{f.FPRelationship.RelationshipID}}" class="midHead">
                      <!--the IDs let us efficiently toggle edit / notEdit states in FPRelationship -->
                      <h5 class="card-title specTitle blu" (click)="onSpecClick($event)">
                        {{Provider.FirstName}} {{Provider.LastName}} @ {{f.FacilityName}}
                        <!-- EDIT/SAVE/CANCEL for individual FP HERE, .not-editing / .is-editing -->
                        <span [hidden]="!(environment.authUser.isEditor=='True'||environment.authUser.isSuperUser=='True')">
                          <i (click)="editProvider(3,$event,0,f.FPRelationship.RelationshipID)" class="fa fa-edit is-editor not-editing"></i>
                          <i (click)="saveProvider(3,$event,0,f.FPRelationship.RelationshipID)" class="fa fa-save is-editor is-editing" style="display:none;"></i>
                          <i (click)="cancelEdit(3,$event,0,f.FPRelationship.RelationshipID)" class="fa fa-times is-editor is-editing" style="display:none;"></i>
                        </span>
                      </h5>
                    </td>
                  </tr>
                  <tr id="row1FP_{{f.FPRelationship.RelationshipID}}">
                    <td>External Provider: </td>
                    <td>
                      <span class="not-editing">{{f.FPRelationship.ExternalProviderIndicator | bool}}</span><span class="is-editing">
                        <!--BOOL CONTROL: Yes/No/Unknown-->
                        <select id="edit_ProviderFP_{{f.FPRelationship.RelationshipID}}_ExternalProviderIndicator" (change)="toggleFieldsFP()" class="is-editing" value="{{f.FPRelationship.ExternalProviderIndicator | bool}}">
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                          <option value="Unknown">Unknown</option>
                        </select>
                      </span>
                    </td>
                    <td>Accepting New Patients: </td>
                    <td>
                      <span class="not-editing">{{f.FPRelationship.AcceptingNewPatientIndicator | bool}}</span><span class="is-editing">
                        <!--BOOL CONTROL: Yes/No/Unknown-->
                        <select id="edit_ProviderFP_{{f.FPRelationship.RelationshipID}}_AcceptingNewPatientIndicator" (change)="toggleFieldsFP()" class="is-editing" value="{{f.FPRelationship.AcceptingNewPatientIndicator | bool}}">
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                          <option value="Unknown">Unknown</option>
                        </select>
                      </span>
                    </td>
                  </tr>
                  <tr id="row2FP_{{f.FPRelationship.RelationshipID}}">
                    <td>Prescriber: </td>
                    <td>
                      <span class="not-editing">{{f.FPRelationship.PrescriberIndicator | bool}}</span><span class="is-editing">
                        <!--BOOL CONTROL: Yes/No/Unknown-->
                        <select id="edit_ProviderFP_{{f.FPRelationship.RelationshipID}}_PrescriberIndicator" (change)="toggleFieldsFP()" class="is-editing" value="{{f.FPRelationship.PrescriberIndicator | bool}}">
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                          <option value="Unknown">Unknown</option>
                        </select>
                      </span>
                    </td>
                    <td>Referral: </td>
                    <td>
                      <span class="not-editing">{{f.FPRelationship.ReferralIndicator | bool}}</span><span class="is-editing">
                        <!--BOOL CONTROL: Yes/No/Unknown-->
                        <select id="edit_ProviderFP_{{f.FPRelationship.RelationshipID}}_ReferralIndicator" (change)="toggleFieldsFP()" class="is-editing" value="{{f.FPRelationship.ReferralIndicator | bool}}">
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                          <option value="Unknown">Unknown</option>
                        </select>
                      </span>
                    </td>
                  </tr>
                  <tr id="row3FP_{{f.FPRelationship.RelationshipID}}">
                    <td></td>
                    <td></td>
                    <td>Float Provider: </td>
                    <td>
                      <span class="not-editing">{{f.FPRelationship.FloatProviderIndicator | bool}}</span><span class="is-editing">
                        <!--BOOL CONTROL: Yes/No/Unknown-->
                        <select id="edit_ProviderFP_{{f.FPRelationship.RelationshipID}}_FloatProviderIndicator" (change)="toggleFieldsFP()" class="is-editing" value="{{f.FPRelationship.FloatProviderIndicator | bool}}">
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                          <option value="Unknown">Unknown</option>
                        </select>
                      </span>
                    </td>
                  </tr>
                  <tr id="row4FP_{{f.FPRelationship.RelationshipID}}">
                    <td>Effective Date:</td>
                    <td>
                      <span class="not-editing">
                        {{f.FPRelationship.EffectiveDate | phdate}}
                      </span>
                      <span class="is-editing" style="display:none;">
                        <input type="text" class="datepicker" ph-initialized="false" id="edit_ProviderFP_{{f.FPRelationship.RelationshipID}}_EffectiveDate" value="{{f.FPRelationship.EffectiveDate | phdate}}" />
                        <!-- EDIT NOT WORKING -->
                      </span>
                    </td>
                    <td>Termination Date:</td>
                    <td>
                      <span class="not-editing">
                        {{f.FPRelationship.TerminationDate | phdate}}
                      </span>
                      <span class="is-editing" style="display:none;">
                        <input type="text" class="datepicker" ph-initialized="false" id="edit_ProviderFP_{{f.FPRelationship.RelationshipID}}_TerminationDate" value="{{f.FPRelationship.TerminationDate | phdate}}" />
                        <!-- EDIT NOT WORKING -->
                      </span>
                    </td>

                  </tr>
                  <tr id="row5FP_{{f.FPRelationship.RelationshipID}}">
                    <td>Phone:</td>
                    <td>
                      <span id="FacilityRelationshipPhoneNumber" class="not-editing">
                        {{f.FPRelationship.ProviderPhoneNumber | phonefromdb}}
                        <span *ngIf="f.FPRelationship.PhoneExtension">ext. {{f.FPRelationship.ProviderPhoneExtension}}</span>
                      </span>
                      <span class="is-editing">
                        <input type="text" id="edit_ProviderFP_{{f.FPRelationship.RelationshipID}}_PhoneNumber" placeholder="Phone #" value="{{f.FPRelationship.ProviderPhoneNumber | phonefromdb}}" />    <!-- EDIT NOT WORKING -->
                        <input type="text" id="edit_ProviderFP_{{f.FPRelationship.RelationshipID}}_PhoneExtension" placeholder="ext." value="{{f.FPRelationship.ProviderPhoneExtension}}" />   <!-- EDIT NOT WORKING -->
                      </span>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="card-footer provFacFooter">
              <span>
                Last Updated By: {{f.FPRelationship.LastUpdatedBy}}
              </span><span>Last Updated On: {{f.FPRelationship.LastUpdatedDate}}</span>
            </div>
          </div>
          <!--END FOR EACH FACILITY-->
        </div>
      </div>
    </div>
    <!--table id="networksTable" [hidden]="nav!='Networks'"></table-->
    <div id="demo-card" class="card" [hidden]="nav!='Networks'">
      <div class="card-body">
        <h5 class="card-title red">Providers</h5>
        <span id="inactive-dir-checkbox"><input type="checkbox" (change)="toggleInactiveDirectories()" /> Show Inactive Directory Records</span>
        <table id="networksTableDT" [hidden]="nav!='Networks'" class="table table-striped table-bordered" cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <th>Network</th>
              <!--th>Network Effective Date</th-->
              <!--th>Provider</th-->
              <th>Facility</th>
              <th>Specialty</th>
              <!--<th>EPIC Network ID</th>-->
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div id="demo-card" class="card" [hidden]="nav!='Employments'">
      <div class="card-body">
        <h5 class="card-title red">
          Employments <i class="fa fa-plus" id="addEmployment"></i>
        </h5>
        <!--
        <span id="inactive-dir-checkbox"><input type="checkbox" (change)="toggleInactiveDirectories()" /> Show Inactive Directory Records</span>
        -->
        <table id="employmentTableDT" [hidden]="nav!='Employments'" class="table table-striped table-bordered" cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <!--<th>Network</th>-->
              <!--th>Network Effective Date</th-->
              <!--th>Provider</th-->
              <th>Facility</th>
              <th>Specialty</th>
              <!--<th>EPIC Network ID</th>-->
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
