<div id="provider-wrapper">
  <div class="left-sidebar">
    <ul id="provider-nav">
      <li tab-id="Demographics" [class.selected]="nav=='Demographics'">Demographics</li>
      <li tab-id="Facility" [class.selected]="nav=='Facility'">Facilities</li>
      <li tab-id="Specialties" [class.selected]="nav=='Specialties'">Specialties</li>
      <li tab-id="FacSpecMap" [class.selected]="nav=='FacSpecMap'">Facility - Specialty Mapping</li>
      <li tab-id="Networks" [class.selected]="nav=='Networks'">Networks</li>
    </ul>
  </div>
  <div class="provider-display">
    <table>
      <tr>
        <td>First Name</td>
        <td>{{Provider.FirstName}}</td>
        <td>NPI</td>
        <td>{{Provider.NPI}}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{Provider.LastName}}</td>
        <td>EpicProviderID</td>
        <td>{{Provider.EpicProviderID}}</td>
      </tr>
      <tr>
        <td>Credentials</td>
        <td>{{Provider.Credentials}}</td>
        <td>Gender</td>
        <td>{{Provider.Gender==2?"Male":"Female"}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><!--this will be a new standalone comma separated field like languages--></td>
        <td><!--and coming from a join, instead of an additional SP--></td>
      </tr>
    </table>
    <hr />
    <table id="demoTable" [hidden]="nav!='Demographics'">
      <tr>
        <td>Languages</td>
        <td>{{Provider.Languages}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Medicare Indicator</td>
        <td>{{Provider.MedicareIndicator? "Yes":"No"}}</td>
        <td>Medicare PTAN</td>
        <td>{{Provider.MedicarePTAN==null? "-":Provider.MedicarePTAN}}</td>
      </tr>
      <tr>
        <td>Medicare Effective Date</td>
        <td>{{Provider.MedicareEffectiveDate==null?"-":Provider.MedicareEffectiveDate}}</td>
        <td>Medicare Termination Date</td>
        <td>{{Provider.MedicareTerminationDate==null?"-":Provider.MedicareTerminationDate}}</td>
      </tr>
      <tr>
        <td>Medicaid Indicator</td>
        <td>{{Provider.MedicaidIndicator? "Yes":"No"}}</td>
        <td>MedicaidProviderID</td>
        <td>{{Provider.MedicaidProviderID==null?"-":Provider.MedicaidProviderID}}</td>
      </tr>
      <tr>
        <td>Last Updated By</td>
        <td>{{Provider.LastUpdatedBy}}</td>
        <td>Last Updated On</td>
        <td>{{Provider.LastUpdatedDate | date}}</td><!--:'MMM d, y h:mm a'-->
      </tr>
      <tr>
        <td>Hospital Affiliations</td>
        <td>{{Provider.FacilityNames==null?"Coming Soon":Provider.FacilityNames}}</td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table id="specTable" [hidden]="nav!='Specialties'">
      <tbody *ngFor="let s of Provider.ProviderSpecialties">
        <tr>
          <td class="rowHeader" colspan="4">{{s.Name}}</td>
        </tr>
        <tr>
          <td>{{s.ParentSpecialtyID==0?"(is a Parent Specialty)":"Parent Specialty: "+s.ParentName}}</td><!--get Parent Name or "" in sp/view-->
          <td style="width:10px;"></td><!--make a setting/css style-->
          <td>Effective Dates</td>
          <td>{{s.EffectiveDate | date}} - {{s.TerminationDate | date}}</td>
        </tr>
        <tr class="inter-table-separator">
          <td>{{s.SequenceNumber==1?"Primary Specialty":"Secondary Specialty"}}</td>
          <td></td>
          <td><!--I dont see any other specialty info, so no expand UI for now--></td>
          <td><!--span class="expand"><i class="arrow down"></i></span--></td>
        </tr>
      </tbody>
    </table>
    <table id="facSpecMapTable" [hidden]="nav!='FacSpecMap'"></table>
    <table id="facTable" [hidden]="nav!='Facility'"><!-- basically Facility Demographics (Facility + FacilityAddress)-->
      <tbody *ngFor="let f of Provider.ProviderFacilities">
        <tr>
          <td class="rowHeader" id="rH" colspan="4"><a href="../facility/{{f.ID}}">{{f.FacilityName}}</a></td>
        </tr>
        <tr>
          <td>NPI</td>
          <td>{{f.NPI}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Address</td>
          <td>
            {{f.FacilityAddress.AddressLine1}}&nbsp;&nbsp;{{f.FacilityAddress.AddressLine2}}<br />
            {{f.FacilityAddress.City}},&nbsp;{{f.FacilityAddress.State}}&nbsp;&nbsp;{{f.FacilityAddress.ZipCode}}
          </td>
        </tr>
        <tr>
          <td>Hours</td>
          <td>Coming Soon</td><!--Facility.Hours.DisplayValues-->
        </tr>
      </tbody>
    </table>
    <table id="networksTable" [hidden]="nav!='Networks'"></table>
  </div>
</div>
<!-- below in wireframe for demographics but not deemed useful -->
<!--tr>
  <td>ABMS</td>
  <td>{{Provider.ABMS.has}}</td>
  <td>ABMS Expiration Date</td>
  <td>{{Provider.ABMS.exp}}</td>
</!--tr>
<tr>
  <td>License Number</td>
  <td>{{Provider.License.no}}</td>
  <td>License Expiration Date</td>
  <td>{{Provider.License.exp}}</td>
</tr>
<tr>
  <td>Certifying Board</td>
  <td>{{Provider.CertifyingBoard.name}}</td>
  <td>Recreditation Date</td>
  <td>{{Provider.CertifyingBoard.exp}}</td>
</tr-->
