<div style="padding-bottom:1em" >
  <div class="card header">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label> Vendor Name:</label>
          </div>
          <div class="form-group">
            <label> Clinic Address:</label>
            {{facilityProviderRelationship.facility.facilityAddress.addressLine1}}  {{facilityProviderRelationship.facility.facilityAddress.addressLine2}} ,
          {{facilityProviderRelationship.facility.facilityAddress.city}} , {{facilityProviderRelationship.facility.facilityAddress.state}} ,
          {{facilityProviderRelationship.facility.facilityAddress.zipCode}}
        </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label> Clinic Name: </label>  {{facilityProviderRelationship.facility.facilityName}}
          </div>
          <div class="form-group">
            <span *ngIf="facilityProviderRelationship?.providerPhoneNumber">
              <label> Provider Phone Number:</label> {{facilityProviderRelationship?.providerPhoneNumber}} Ext: {{facilityProviderRelationship?.providerExtensionNumber}}
            </span>
            <span *ngIf="facilityProviderRelationship?.facilityAddress?.phoneNumber">
              <label> Clinic Phone Number:</label> {{facilityProviderRelationship?.facility?.facilityAddress?.phoneNumber}}
            </span>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Provider Name:</label> {{facilityProviderRelationship.provider.fullName}}
            <span *ngFor="let option of facilityProviderRelationship.credentialList">
              {{option.value}},
            </span>
          </div>
          <div class="form-group">
            <label>Region:</label> {{facilityProviderRelationship.facility.facilityAddress.region}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
